body {
  background: black;
}

a {
  color: white;
  text-decoration: none;
}
a:hover {
  color:black !important;
}
/*Header*/
header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-family: 'Encode Sans', sans-serif;
  color: white;
}

.navbar {
  display: flex;
  flex-direction: row;
  padding: 15px 5px;
  list-style-type: none;
}

.navbar > li{
  margin: 5px;
  font-size: 20px;
}

.title{
  margin: -15px;
  display: flex;
  flex-direction: column;
}
.title > h1 {
  font-size: 38px;
}

.emphasisTitle {
  margin-top: -10px;
}

/*Main Section*/
.main-image {
  margin-top: 40px;
  display: flex;
  justify-content: center;
}
footer{
  display: flex;
  justify-content: space-around;
  color: white;
  font-family: 'Encode Sans', sans-serif;
}
.footerInfo {
  display: flex;
  flex-direction: row;
  list-style-type: none;
}

.footerInfo > li {
  margin-right: 20px;
}
.copyright {
  margin-top: 25px;
}
